* {
    font-family: "Roboto", sans-serif;
}
body, html {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
}
.header {
    height: 48px;
    padding: 12px;
    display: flex;
    background-color: #1f2937;
    justify-content: flex-start;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    font-weight: bold;
    display: inline-flex;
    color: #f9faf8;
    flex-grow: 0;
}
.header-spacer {
    display: inline-flex;
    flex-grow: 1;
}
.header-link {
    font-size: 18px;
    display: inline-flex;
    color: #e5e7eb;
    flex-grow: 0;
}