body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.header {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15%;
    padding-right: 15%;

    background-color: #1f2937;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}
.header-logo {
    font-size: 24px;
    font-weight: bold;
    display: inline-flex;
    color: #f9faf8;
    flex-grow: 0;
}
.header-spacer {
    display: inline-flex;
    flex-grow: 1;
}
.header-link {
    font-size: 18px;
    display: inline-flex;
    color: #e5e7eb;
    flex-grow: 0;
}